<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %t %c{1}:%L - %m %n</pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="business" fileName="${sys:catalina.base}/logs/learn.log"
			filePattern="${sys:catalina.base}/logs/learn.log.%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %t %c{1}:%L - %m %n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
		<RollingFile name="error" fileName="${sys:catalina.base}/logs/error.log"
			filePattern="${sys:catalina.base}/logs/error.log.%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %t %c{1}:%L - %m %n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<logger name="com.hongyan" level="DEBUG"></logger>
		<logger name="com.baijia.tianxiao.sqlbuilder.SingleSqlBuilder" level="info"></logger>
		<AsyncRoot level="info" additivity="false" includeLocation="true">
			<AppenderRef ref="console" />
			<AppenderRef ref="business" />
			<AppenderRef ref="error" level="error" />
		</AsyncRoot>
		<logger name="com.mitchellbosecke.pebble.spring.PebbleView.timer" level="DEBUG" additivity="false">
		<AppenderRef ref="console" />
		<AppenderRef ref="business" />
		</logger>
	</Loggers>
</configuration>
